@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,300&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap');
body, html {
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    font-size: 1.1rem;
}
#body-section {
    height: 100%;
}

#main-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/surfer2.jpg");
}
#surfing-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/boards1.jpg");
}
#diving-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/diving2.jpg");
}
#success-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/diving1.jpg");
}

.mb-5 a {
    text-decoration: none;
    color: inherit;
}

.product_card:hover {
    transform: scale(1.05);
    border: 0px;
}