@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,300&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap');
body, html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}
p, a {
    font-size: 1.1rem;
}
#body-section {
    height: 100%;
}

.navbar-seawolf,
.footer-seawolf {
    background-color: #00424F;
}

.navbar-seawolf .navbar-brand,
.navbar-seawolf .navbar-text,
.navbar-seawolf .nav-item,
.navbar-seawolf .nav-link,
.navbar-seawolf .dropdown-item,
.navbar-seawolf .cart-text,
.footer-seawolf {
    color: #CEFFFD;
}

.navbar-seawolf .dropdown-menu {
    background-color: #CEFFFD;
}

.navbar-seawolf .dropdown-item {
    color: #00424F;
}

.navbar-seawolf .dropdown-item:hover {
    background-color: #00424F;
    color: #CEFFFD;
}

.navbar-seawolf .navbar-toggler-icon,
.navbar-seawolf .navbar-toggler,
.navbar-seawolf .cart-text {
    border-color: #CEFFFD;
}

.navbar-seawolf .cart-text:hover {
    color: #00424F;
    border-color: #00424F;
}


.navbar-seawolf .seawolf-active {
    color: #EDFFFE;
}

#main-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/surfer2.jpg");
}
#surfing-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/boards1.jpg");
}
#snorkel-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/diving2.jpg");
    color: #eee;
}
#fin-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/diving3.jpg");
    color: #eee;
}
#mask-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/diving4.jpg");
    color: #eee;
}
#success-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/diving1.jpg");
}

.mb-5 a {
    text-decoration: none;
    color: inherit;
}

.product_card:hover {
    transform: scale(1.05);
    border: 0px;
}