<div class="col mb-5">
    <a href="{% url 'detail' item.slug %}">
    <div class="card h-100 product_card">
        <!-- Product image-->
        <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}" />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ item.name }}</h5>
                <!-- Product price-->
                ${{ item.price }}
            </div>
        </div>
    </div>
    </a>
</div>