{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cart_tag %}

{% block content %}
<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="col-10">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4>Your Cart</h4>
            </div>
                {% for key,value in request.session.cart.items %}
                <div class="card rounded-3 mb-2">
                    <div class="card-body">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="d-none d-sm-flex col-sm-2 col-lg-2 col-xl-2">
                            <img src="{{ value.image }}" class="img-thumbnail rounded-3" alt="{{ value.name }}">
                        </div>
                        <div class="col-sm-3 col-lg-3 col-xl-3">
                            {{ value.name }}
                        </div>
                        <div class="col-sm-2 col-lg-2 col-xl-1 d-flex">
                            <p><b> {{ value.quantity }} </b></p>
                        </div>
                        
                        <div class="col-sm-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h5 class="mb-0">${{ value.price|multiply:value.quantity|floatformat:2 }}</h5>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex float-right col-12 align-items-center justify-content-end">
                    <h4 class="float-right">Total: ${{total|floatformat:2}}</h4>
                </div>
                {% endfor %}
                {% if addresses %}
                    <h5 class="display-6">Use Saved Address</h5>
                            {% for item in addresses %}
                            <div class="card" style="width:32rem;">
                            <div class="d-flex p-2">{{item.address_one}} {{item.address_two}}
                                {{item.zipcode}} {{item.city}}, {{item.state}} {{item.country}}
                            </div>
                            </div>
                            <div class="d-inline-flex p-2"><button class="btn btn-success btn-sm">Use</button></div>
                    {% endfor %}
                {% endif %}
            <h4 class="display-6">Enter New Postal Address</h4>
            <form action="" method="POST"><br>
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-dark btn-lg">Submit Address</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
