{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- Product section-->
{% block content %}
<section class="pt-5" style="background-color: white;">
    <div class="container px-4 px-lg-5 my-5">
        {% if delete_review %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                Your review has been successfully deleted.
            </div>
        {% endif %}
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ object.image.url }}" alt="{{ object.name }}" /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{ object.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>${{ object.price }}</span>
                </div>
                <p class="lead">{{ object.description }}</p>
                <div class="d-flex">
                    <a href="{% url 'cart_add' object.id %}">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-md-8 mx-auto">
            {% if object.review_set.all|length != 0 %}
                <h2 class="fw-bolder mb-4 mt-5 display-6" id="reviews">Customer Reviews</h2>
                {% for review in object.review_set.all %}
                    <div class="rounded col-lg-12 col-xl-10 p-4" style="background-color: #d2e7ff;">
                        {% if review.customer == user and update_review %}
                            <p class="fw-bold" id="change">Change Your Review</p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ update_form|crispy }}
                                <button class="btn btn-success" type="submit" name="update_review_button">Update Review</button>
                            </form>
                        {% else %}
                            <p class="fw-bold mb-0 d-inline-flex">
                                {{review.customer.username}}
                                {% if review.customer == user %}
                                    <i>(Your Review)</i>
                                    <form action="#change" method="GET" class="d-inline-flex my-0 py-0">
                                        <input type="hidden" name="update_review_id" value="{{review.id}}" class="my-0 py-0">
                                        <button class="btn btn-sm d-inline-flex ms-2 my-0 p-0" type="submit" name="update_review_button" id="update_review_button">Edit</button>
                                    </form>
                                    <form onclick="return confirm('Are you sure you want to delete your review?')" method="GET" class="d-inline-flex my-0 py-0">
                                        <input type="hidden" name="delete_review_id" value="{{review.id}}" class="my-0 py-0">
                                        <button class="btn btn-sm d-inline-flex ms-2 my-0 p-0" type="submit" name="delete_review_button" id="delete_review_button">Delete</button>
                                    </form>
                                {% endif %}
                            </p>
                            <p class="fw-bold">{{review.rating}} / 5 stars</p>
                            <p>{{review.text}}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if user.is_authenticated %}
                    {% if has_bought and not has_reviewed %}
                    <hr>
                    <p class="mt-2">You bought this item on <b>{{ bought_date }}</b>. Let us know how you're getting on with it. Leave a review!</p>
                        <form action="" method="POST" class="h-25">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-success" type="submit" name="create_review_button">Submit Review</button>
                        </form>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="pb-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center">
            {% for item in related %}
                    {% include "includes/product_card.html" with item=item %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
