{% extends "base.html" %}
<!-- Product section-->
{% block content %}
<section class="py-5" style="background-color: white;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ object.image.url }}" alt="{{ object.name }}" /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{ object.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>${{ object.price }}</span>
                </div>
                <p class="lead">{{ object.description }}</p>
                <div class="d-flex">
                    <a href="{% url 'cart_add' object.id %}">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </a>
                </div>
                {% if user.is_authenticated %}
                    {% if has_bought %}
                        <p class="mt-2">You bought this item on {{ bought_date }}.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center">
            {% for item in related %}
                    {% include "includes/product_card.html" with item=item %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
